.obgTitle{
    color: var(--brand-yellow-dark, #4AA366);


    font-size: 32px !important;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
}

.obgSubtitle{
    color: var(--base-subtitle, #403937);

    font-size: 20px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}